#navbar ul {
    flex-direction: row;
    align-items: center;
}

#navbar ul li {
    margin: -15px 0;
    padding: 20px;
}
#navbar::before{
    content: "";
    position: fixed;
    background-color: rgb(0, 0, 0);
    margin: -10px ;
    height: 8%;
    width: 100.1%;
    z-index: -1;
    opacity: 0.1;
}
#fn{
    padding-left:95%;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
  text-shadow: 0 0 10px black,
               0 0 20px black,
               0 0 40px black,
               0 0 10px black,
               0 0 10px black;
}
#ln{
    padding-left: 1%;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: black;
  text-shadow: 0 0 10px white,
               0 0 20px white,
               0 0 40px white,
               0 0 10px white,
               0 0 10px white;
}
#home img {
    width: 35%;
    height: auto;
    left: 2%;
    margin: -32%  60%;
}

#home p {
    width: 50%;
    margin: 20% 5%;
}

#skill{
    
    display: flex;
    margin-top: 60%;
    margin-bottom: 10%;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal
}
#skill h1{
    margin-left: 50%;
    font-size: 40px;  
}
#lang{
    
    margin: 8%  -62%;
    
}
/* #project div {
    font-size: 18px;
    margin-left: 0;
} */

#project div p {
    width: 90%;
    margin-left: 5%;
}

#g, #b {
    width: 90%;
    height: auto;
}
#project div button{

    width: 100px;
    height: 40px;
    margin: 0%  43%;
    border: transparent;
    border-radius: 10px;
    background: black;
    color:white;
    font-family:serif;
}
#gh{
    margin: 20% 35% 0%;
}
#bh{
    margin:4% 42% 0px;
}
#g{
    border-radius: 10px;
    background: url('pic/hero-1.jpg') no-repeat center center/cover;
    color: white;
    height: 400px;
    width: 100px;
    text-shadow: 0 0 10px black,
               0 0 20px black,
               0 0 40px black,
               0 0 10px black,
               0 0 10px black;
} 
#b{
    border-radius: 10px;
    color: black;
    background: url('pic/bravo.png') no-repeat center center/cover;
    height: 400px;
    width: 300px;
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 10px white,
    0 0 10px white;
}

#contact {
    width: 90%;
    margin: 5% auto;
}


#instagram {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#instagram:hover{
    transform: scale(1.2);
    
}
#facebook{
    margin:-35px 44% 0px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#facebook:hover{
    transform: scale(1.2);
   
}
.footer {
    background-color: #333;
  
    width: 100%;
}   