body {
        background-image: url("pic/bgimg2.png");
        background-repeat: no-repeat;
        background-size: 1380px 1120px;
      }


header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.services h2{
    text-shadow: 1px 1px white;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.services {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.services h2 {
    margin-bottom: 20px;
}

.service-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-item h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
